body {
    font-family: Arial, sans-serif;
    background-color: #ECECEC;
    margin: 0;
    padding: 0;
}
header {
    background-color: #162C4C;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 933px;
    position: absolute;
    width: 1455px;
    height: 35px;
    padding: 15px 30px;
    left: 0px;
    top: 0px;
    justify-content: space-between;

}

.logo {
    width: 50px;
    height: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.container {

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 15px;
    width: 85px;
    height: 40px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.logo2 {
    width: 15px;
    height: 5px;
    flex: none;
    order: 0;
    flex-grow: 0;
    gap: 140px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: -5px;
    

}
.logo3 {
    width: 30px;
    height: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
    gap: 1550px;
    /* Frame 1855 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: -5px;
    

}




.account {
    /* i-16_Prof */
    width: 16px;
    height: 16px;
    flex: none;
    order: 0;
    flex-grow: 0;
    color: #FF4F00;

}

.action-link1 {
    /* личный кабинет */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    color: #FF4F00;
    width: 152px;
    height: 20px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    
}


.heading {
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 38px;
    color:#FFFFFF;
    margin-left: 60px;
    
}
.form5 {
        /* Frame 1818 */
    position: absolute;
    width: 1035px;
    height: 924px;
    left: 380px;
    top: 85px;
    background: #FFFFFF;
    filter: blur(2px);
    border-radius: 12px;


}
a { 
    text-decoration: none;
   }


nav {
    /* Frame 1817 */
    position: absolute;
    width: 330px;
    height: 188px;
    left: 25px;
    top: 85px;
    background: #FFFFFF;
    filter: blur(2px);
    border-radius: 12px;


}

nav ul {
    list-style-type: none;
    padding: 0;
    
}

nav ul li {
    padding: 10px 23px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

.red-text { color: red; }
.person {
    color: #FF4F00;
}

.form {

    position: absolute;
    width: 1035px;
    height: 924px;
    left: 380px;
    top: 85px;
    background: #FFFFFF;
    filter: blur(2px);
    border-radius: 12px;
}


.form-buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 406px;
    position: absolute;
    width: 414px;
    height: 32px;
    left: 25px;
    top: 25px;
}

.form-fields {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    position: absolute;
    width: 499px;
    height: 676px;
    left: 25px;
    top: 107px;
    /* Наименование */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #26282C;
    flex: none;
    order: 0;
    flex-grow: 0;

}

.form-header{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 2px;
    position: absolute;
    width: 414px;
    height: 32px;
    left: 25px;
    top: 25px;


}
.btn {
    background: #ffffff;
    color: #26282C;
    padding: 4px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    gap: 10px;
    width: 249px;
    height: 32px;
    border-radius: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.33px;

}
.btn2 {
    /* Данные работника */
    padding: 4px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    gap: 10px;
    width: 249px;
    height: 32px;
    border-radius: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.33px;
    color: #26282C;
    background-color: #FF4F00;
    color: #fff;
}



input[type='text'], select {
  
    box-sizing: border-box;
    width: 499px;
    height: 47px;
    background: #FFFFFF;
    border: 2px solid #C3C3C3;
    border-radius: 10px;
    order: 1;
    flex-grow: 0;
    

}

input[type='checkbox'] {
    
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
    
    gap: 15px;
    flex-grow: 0;
    /* чб */
    width: 19px;
    height: 19px;
    flex: none;
    order: 0;
    flex-grow: 0;

}

label {
    /* Субъект КИИ */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 19px;
    color: #26282C;
    flex: none;
    order: 1;
    flex-grow: 0;

    
}

.checkbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 15px;
    width: 145px;
    height: 90px;
    flex-grow: 0;
    
}
button[type="submit"] {
    
        /* Кнопка сохранить*/
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 98px;
    gap: 10px;
    position: absolute;
    width: 300px;
    height: 40px;
    left: 25px;
    top: 560px;
    background: #FF4F00;
    color: #fff;
    border: 1px solid #FF4F00;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -0.33px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;

}

button:hover {
    background: #FF4F00;
}

.profile-settings {
    display: none;
    flex-direction: row;
    align-items: flex-start;
    padding: 40px 30px;
    gap: 10px;
    position: absolute;
    width: 560px;
    height: 954px;
    left: 880px;
    top: 70px;
    background: #FFFFFF;
    box-shadow: -1px 4px 50px rgba(0, 0, 0, 0.25);
    z-index: 999; /* Чтобы форма отображалась поверх остального содержимого */
}

.profile-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}



.profile-form .form-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    isolation: isolate;

    position: absolute;
    width: 500px;
    height: 29px;
    left: 30px;
    top: 40px;
        /* Настройки профиля */
    width: 239px;
    height: 29px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #26282C;
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

.profile-form .field label {
    font-size: 18px;
    font-weight: bold;
}

.profile-form .field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.profile-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.profile-form button[type="submit"]:hover {
    background-color: #0056b3;
}

input[type='text1']{
   /* Group 5 */
    width: 500px;
    height: 47px;
    flex: none;
    order: 1;
    flex-grow: 0;
    /* ФИО */

    width: 53px;
    height: 17px;
    left: 20px;
    top: 59px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #B3B3B3;


}
label [for="name2"]{
    /* Электронная почта */
    position: absolute;
    width: 197.53px;
    height: 24px;
    left: 30px;
    top: 260px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #26282C;

}

.text {
    /* Если у вас возникла необходимость изменить почту - обратитетесь в техподдержку helpOSIB@osib.ru */
    position: absolute;
    width: 500px;
    height: 34px;
    left: 0px;
    top: 170px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #26282C;
}

.text2 {
    /* konstantynkormet2007@mail.ru */
    position: absolute;
    width: 253.09px;
    height: 19px;
    left: 0px;
    top: 130px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #26282C;
}
label [for="newPassword"]{
    /* Пароль */
    width: 74px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #26282C;
    flex: none;
    order: 0;
    flex-grow: 0;

}

.input [type='password']{
    /* Rectangle 2 */
    box-sizing: border-box;
    position: absolute;
    width: 499px;
    height: 47px;
    left: 0px;
    top: 20px;
    background: #FFFFFF;
    border: 2px solid #B3B3B3;
    border-radius: 10px;

}
