
@media screen and (max-width: 1280px) { div.contentblock {width: 1200px;} } 
@media screen and (max-width: 1140px) { div.contentblock {width: 1024px;} }
@media screen and (max-width: 992px) { div.contentblock {width: 970px;} } 

  
body {
    font-family: Arial, sans-serif;
    background-color: #ECECEC;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 10px;
    position: absolute;
    width: 375px;
    height: 34px;
    left: 20px;
    top: 18px;
}
.logo {
    width: 50px;
    height: 0px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.heading {
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 38px;
    color: #26282C;
    margin-left: 60px;
    
}
a { 
    text-decoration: none;
   }

/* Позиционирование */
.position {
    position: absolute; 
    width: 156px; 
    height: 29px; 
    left: 50%; 
    transform: translateX(-50%); 
    top: -60px; 
    font-family: 'Inter'; 
    font-style: normal; 
    font-weight: 500; 
    font-size: 24px;
    line-height: 29px;
    color: #26282C;
}

.container {
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    padding: 0px; 
    gap: 10px; 
    position: absolute; 
    width: 100%; 
    max-width: 362px; 
    height: 104px; 
    left: 50%; 
    transform: translateX(-50%); 
    top: 442px;
}
/* Почта */
input {
    width: 100%; 
    max-width: 352px; 
    height: 47px; 
    flex: none; 
    order: 0; 
    flex-grow: 0; 
    background: #FFFFFF; 
    border: 2px solid #B3B3B3;
    border-radius: 10px;
    font-family: 'Inter'; 
    font-style: normal; 
    font-weight: 500; 
    font-size: 14px; 
    line-height: 17px; 
    color: #B3B3B3;
}

.password-container {
    /* Пароль */
    margin-top: 10px;
    width: 352px;
    height: 47px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #B3B3B3;

}


.password-toggle {
    /* Иконка 1 */
    position: absolute;
    width: 16px;
    height: 15px;
    left: 330px;
    top: 80px;
}

button {
    /* Кнопка войти */
    position: absolute;
    width: 100%; 
    max-width: 359.2px;
    height: 52.2px;
    left: 50%;
    top: 597px;
    transform: translate(-50%, -50%);
    order: 0;
    flex-grow: 0;
    background: #FF4F00;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

a {
    color: #fff;
    text-decoration: none;
}

button:hover {
    background: #FF4F00;
}

.action-link1 {
    margin-top: 2%; /* Используем проценты для отступа сверху */
    text-align: center;
}

.action-link1 a,
.action-link2 a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FF4F00;
}

.action-link1 a {
    position: absolute;
    left: 590px;
    top: 633px;
}

.action-link2 a {
    position: absolute;
    left: 770px;
    top: 633px; 
}

.action-link1 a:hover,
.action-link2 a:hover {
    color: #FF4F00;
}

a:hover { 
    text-decoration: underline; /* Добавляем подчеркивание при наведении курсора мыши на ссылку */
  }
/* Медиазапросы для адаптивности */
@media only screen and (max-width: 768px) {
    header {
        width: 90%;
    }

    .container {
        width: 90%;
    }
}

@media only screen and (max-width: 576px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .heading {
        margin-left: 0;
        text-align: center;
    }

    .position {
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
    }
}