body {
    font-family: Arial, sans-serif;
    background-color: #ECECEC;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 10px;
    position: absolute;
    width: 375px;
    height: 34px;
    left: 20px;
    top: 18px;
    color: #26282C;
}
.logo {
    width: 50px;
    height: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.heading {
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 38px;
    color: #26282C;
    margin-left: 60px;
    
}


.position {
    /* Восстановление */

    position: absolute;
    width: 156px;
    height: 29px;
    left: calc(50% - 200px/2);
    top: -50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    color: #26282C;


}
.text {
    /* текст */

    position: absolute;
    width: 359.2px;
    height: 68px;
    left: 574;
    top: 17px;
    text-align: justify;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #B3B3B3;


}
.container {
    /* Auto layout */
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    position: absolute;
    width: 362px;
    height: 104px;
    left: 574px;
    top: 250px;

}

input {
 
    /* почта */
    margin-top: 110px;
    width: 352px;
    height: 47px;
    flex: none;
    order: 0;
    flex-grow: 0;
    background: #FFFFFF;
    border: 2px solid #B3B3B3;
    border-radius: 10px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #B3B3B3;
    
}



button {
    
        /* Кнопка отправить*/
    margin-top: 20px;
    position: absolute;
    width: 359.2px;
    height: 52.2px;
    left: 574px;
    top: 416px;
    order: 0;
    flex-grow: 0;
    background: #FF4F00;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
button:hover {
    background: #FF4F00;
}
.action-link1 {
    margin-top: 10px;
    text-align: center;
}

